html, body{
	font-size:16px;
	color: #525252;
	background-color: white; 
}

a {
  color: #7f7f7f;
}
a.link{
	color: #525252;
	text-decoration: underline;
}

a:hover {
  color: #00cfff;
}

#vr_summary{
	padding-top: 6rem;
	padding-bottom: 3rem;
/* 	margin-left: 25%;
	margin-right: 25%; */
	text-align: justify;
	max-width: 675px;
	margin-left: auto;
	margin-right: auto;
}

.section-4 {
	background-color: white;
	padding : 0.2rem;
}

.project-figure {
/* 	margin: 0 auto 1rem auto;
 */	max-height: 256px;
	max-width: 256px;
	margin: auto;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
 	border:1px solid #ffffff;
}
.project-image {
	max-height: 700px;
	max-width: 700px;
	margin: auto;
	margin-top: 1rem;
}
.project-text {
	text-align: justify;
}
.container{
	text-align: center;
}
button {
	background-color: white; 
	color: #525252; 
	font-weight: 600;
	border: 2px solid #007900;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	margin-bottom:1rem;
	transition-duration: 0.2s;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


button:hover {
	background-color: #007900; 
	border: none;
	color: white;
  }
  
  
h1 {
	color: #525252;
	text-align: center;
	margin-bottom: 1.5rem;
	font-weight:bolder;
	font-size: 1.7rem;
}

h2 {
	font-weight:bold;
	font-size: 1.4rem;
	margin-top: 1rem;
	margin-bottom: 0.75rem;
	margin-left:0rem;
	color: #525252;
	text-decoration-line: underline;

}

p {
	margin-bottom: 0.5rem;
	text-indent: 0rem;
}

li {
	list-style-type: NONE;
	list-style-position: inside;
	text-indent: 0rem;
	margin-bottom: 0.5rem;
}
.text_box {
	border: solid;
	border-width: 1px;
	border-color: #525252;
	background-color: #9797972f;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	text-indent: 0;
	color: #525252;
}


.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

/* Navbar */
@media screen and (max-width: 768px) {
	.nav-menu {
		background-color:transparent;
	}
	.nav-toggle:hover {
		background-color: transparent;
	}
	.nav-toggle span {
		background-color: white;
	}
	.nav-toggle span:hover {
		background-color: #00cfff;
	}
}

/*Nav bar sticky*/
.nav {
	background-color: rgb(255, 255, 255);
	position:fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width:100%; /* Full width */
}
a.nav-item {
	color: #7f7f7f;
}

a.nav-item:hover {
	color: #00cfff;
}