html, body{
	font-size:16px;
	color: #7f7f7f;
	background-color: white; 
}

a {
  color: #7f7f7f;
}

/*a:hover {
  color: #00cfff;
}*/

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: white;
}

.section-2 {
	background-color: #EFEFEF;
}

.section-3 {
	background-color: white;
}

.section-4 {
	background-color: white;
	padding: 0.2rem;
}

a.nav-item {
	color: #7f7f7f;
}

a.nav-item:hover {
	color: #00cfff;
}


.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}
p.contact{
	margin : 20px;
}

.social_icon {
	width: 10%;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
	border:1px solid #aaaaaa;
}


.project-text {
	text-align: justify;
}

.box {
	padding: 2%;
	height: 98%;
	background-color: transparent; 

	/*border: 2px solid rgba(7, 59, 79, 0.5);*/
}
.box:hover {
		border: 3px solid #ffffff;
}
.title {
	color: #525252;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color:transparent;
	}
	.nav-toggle:hover {
		background-color: transparent;
	}
	.nav-toggle span {
		background-color: white;
	}
	.nav-toggle span:hover {
		background-color: #00cfff;
	}
}
/*Nav bar sticky*/
.nav {
	background-color: rgb(255, 255, 255);
	position:fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width:100%; /* Full width */
}

