html, body{
	font-size:16px;
	color: #7f7f7f;
	background-color: white; 
}

a {
  color: #7f7f7f;
}

a:hover {
  color: #00cfff;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: white;
}

.section-2 {
	background-color: #e2e2e2;
}

.section-3 {
	background-color: white;
}

.section-4 {
	background-color: white;
	padding: 0.2rem;
}

a.nav-item {
	color: #7f7f7f;
}

a.nav-item:hover {
	color: #00cfff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	padding: 2%;
	height: 98%;
	background-color: transparent; 

	/*border: 2px solid rgba(7, 59, 79, 0.5);*/
}

.title {
	color: #525252;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: white;
	}
	.nav-toggle:hover {
		background-color: transparent;
	}
	.nav-toggle span {
		background-color: white;
	}
	.nav-toggle span:hover {
		background-color: #00cfff;
	}
}


/*Contact box
input[type=text],[type=email], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: 50%;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color:#00cfff;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #00cfff;
  }
  
  .container_contact {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	text-align: left;
	text-align-last: left;
  }*/
